#gen{
    background-color: #2A2626;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.cards-container{
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
.navbar-container{
    background-color: #252B48;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
hr{
    color: white;
    width: 90%;
    margin: auto;
}
.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
}
.banner-img{
    width: 100%;
    position: relative;
}
.object-image{
    height:40vh;
    overflow:hidden;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}