#gen{
    background-color: #2A2626;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
#myCarousel{
    padding-top: 3%;
    padding-bottom: 3%;
}
.navbar-container{
    background-color: #252B48;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
}
.banner-img{
    width: 100%;
    position: relative;
}
.about-me{
    padding-left: 3%;
    width: 95%;
    color: white;
}