#gen{
    background-color: #2A2626;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.cards-container{
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
#myCarousel{
    padding-top: 3%;
    padding-bottom: 3%;
}
.navbar-container{
    background-color: #252B48;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
hr{
    color: white;
    width: 90%;
    margin: auto;
}
.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
}
.banner-img{
    width: 100%;
    position: relative;
}
.banner-img img{
    
    filter: blur(5px);
}
.name-header{
    width: 100%;
    color: white;
    display: inline-block;
  text-align: center;
}
.about-me{
    padding-left: 3%;
    width: 95%;
    color: white;
    display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center;
}
.text-div{
    flex: 1; /* Distribute available space equally between text divs */
  text-align: justify;
}
.object-image{
    height:40vh;
    overflow:hidden;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.height-set{
    height: 30vh;
    overflow:hidden;
}
.cards-container{
    margin-top: 0;
    width:100%;
    padding-left:2%;
    padding-top:0;
}
.heading{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publications{
    color:white;
    padding:0 2%;
    display: flex;
}
.journal{
    width:45%;
    text-align:justify;
    display:inline-block;
    margin-top: 2%;
}
.conference{
    padding: 2%;
    width:50%;
    display: inline-block;
    margin-left: 3%;
    border: 2px solid #fff;
    border-radius: 2%;
}
.project-div{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom:20px;
}
.project-heading{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.project-content{
    font-size: 18px;
}
.talks{
    padding: 2%;
    width:50%;
    display: inline-block;
}
.awards{
    padding: 2%;
    width:50%;
    display: inline-block;
}
.footer-section{
    padding-top: 3%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #424242;
    display: flex;
    color: white;
}
.left-footer-section{
    margin-right: 100px;
    width: 50%;
    display: inline-block;
}
.right-footer-section{
    width: 50%;
    display: inline-block;
}
.footer-section-content{
    font-size: 20px;
}
.card-body{
    background-color: #2A2626;
    color: white;
    cursor: pointer;
    text-align: center;
}
/* carousal modal css */
.modal {
    display: none;
    position: fixed;
    transform: translate(-8px,15px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content {
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    cursor: pointer;
}